<ion-popover-view class="popover_material right_3space">
    <div class="pad_v_double pad_double font_20">
        {{labelz.select_category}}
    </div>
    <ion-content class="has-header">
        <div class="list_vertical_material"  ng-class="{'show': showPopupMaterial}">
           
            <a class="item item-avatar pad_v"
               ng-repeat="category in categoryData.categories" 
               style='transition-delay: {{$index * 100}}ms;-webkit-transition-delay: {{$index * 100}}ms;'
               href="#/main/poi/list/{{category.category_id}}/{{fromCategory}}/{{category.category_title}}">
                <img class="no_radius" ng-src="{{category.category_simg_src}}">
                <h2>{{category.category_title}}</h2>
                <p>{{category.category_desc}}</p>
            </a>
       </div>
    </ion-content>
</ion-popover-view>