/*
TABLE OF CONTENT */
/*

-- F O N T S 
-- R E U S A B L E 
-- H E A D E R
-- C O N T E N T
---- Loader Spinner
-- I N F O
-- S E A R C H
-- P O I
-- R E P O R T


*/

/* F O N T S */
@import 'fonts';

/* R E U S A B L E */
@import 'reusable';


.button-icon{
  &.activated {
        color: #e60000 !important; 
    }  
}

.icon-bicycle{
    background-image: url("../assets/graphics/bicycle_traffic.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.icon-bicycle-unselected{
    background-image: url("../assets/graphics/bicycle_traffic_unselected.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon-taxi{
    background-image: url("../assets/graphics/taxi.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon-taxi-unselected{
    background-image: url("../assets/graphics/taxi_unselected.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.menu_active{
    .icon-bicycle-unselected{
        background-image: url("../assets/graphics/bicycle_traffic.png");
    }
    .icon-taxi-unselected{
        background-image: url("../assets/graphics/taxi.png");
    }
}

@mixin iconbg($size){
     background-size: $size $size;
    width: $size;
    height: $size;
    display:block;
}

.bg-size-80-80{
    @include iconbg(80px);
}
.bg-size-65-65{
    @include iconbg(65px);
}
.bg-size-50-50{
   @include iconbg(50px);
}
.bg-size-38-38{
   @include iconbg(38px);
}
.bg-size-32-32{
   @include iconbg(32px);
}

.overflow-scroll,.custom-scroll{ 
    &::-webkit-scrollbar-track{
        border-radius:2px;
        background-color:transparent
    }
    &::-webkit-scrollbar-thumb{
        border-radius:2px;
        margin-right:1px;
        background-color:rgba(0,0,0,0.4);
    }
    &::-webkit-scrollbar{
        -webkit-appearance:none;
        appearance:none;
        width:3px;

        height:4px
    }
}

.snackbar{
    background: $black;
    right: 4px;
    top: 130px;
    z-index: 2;
    max-width: 300px;
}

/* material toggle */
.toggle_material{ 
    clear: both; 
    padding: 12px 6px 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    
    display: block;
    width: 100%;
}

.toggle_material input:empty{margin-left: -9999px;}

.toggle_material input:empty ~ label
{
    position: relative;
    float: right;
    line-height: 1.6em;
    width: 155px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.toggle_material input:empty ~ label:before, 
.toggle_material input:empty ~ label:after
{
    position: absolute;
    display: block;
    content: ' ';
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.toggle_material input:empty ~ label:before{
    top: 8px;
    left: 110px;
    width: 25px;
    height: 2px;
    background-color: #7d7d7d;
}

input.switch:empty ~ label:after{
    top: 0px;
    left: 100px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #eeeeee;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #7d7d7d;
}

.white{
    input:empty ~ label:after{
        border-color: white;
    }
    input:empty ~ label:before{
        background-color: white;
    }
}

.toggle_material input:checked ~ label:before{
    background-color: #1299f6;
}

.toggle_material input:checked ~ label:after{
    left: 128px;
    background-color: #1299f6;
    border-color: #1299f6;
}


.item[disabled]{color: #ccc;}

.item-checkbox-left{
    padding-left: 60px !important;
    .checkbox{
        position: absolute;
        top: 0;
        left: 0;
    }
}

.item-checkbox-right{
    padding-right: 60px !important;
    .checkbox{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.checkbox_material{
    padding: 14px 20px;
    width: 100%;
}

.checkbox_material input{
    width: 24px;
    height: 24px;
}

.checkbox_material input:before{
    border-radius: 4px;
    border-width: 2px;
    border-color: #7d7d7d;
}

.checkbox_material input:after{
    top: 30%;
    left: 18%;
    width: 16px;
    height: 8px;
    border-width: 2px;
}
.checkbox_material input:checked:before{
    background: #1299f6;
    border-color: #1299f6;
}

/*  */
.list_material_lblue{
    >.item-wraper{
        border-bottom: 2px solid $lblue !important;
        .item{margin-bottom: 0;padding-left: 20px;}
        .icon{color:$lblue;}
    }
}




/* H E A D E R */
.platform-ios>ion-nav-view{
    top: 20px;
    bottom: 0;
    height: auto;
}
.bar-vodafone{

    /*border-top: 4px solid $red;*/
    margin-top: 4px;
    height: 52px;  
    .title{
        font-weight: 400;
        font-size: 20px;
        height:100%;
        left:56px;
        line-height: (84px * $r) - 4px;

        /* title has 2 buttons at right side */
        &.right_single{
            margin-right:44px;
        }
        &.right_double{
            margin-right:88px;
        }
        &.inside_right_single{
            padding-right: 40px;
            .pull-right{
                position: absolute;
                top:5px;
                right:5px;
            }
        }
    }

    &~.has-header{
        top: 84px * $r; 
    }

}

.content_full{
    display: block;
    position: absolute;
    z-index: 2;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
}

.view_icon{
    position: relative;
    top: 2px;
}

.pull-right-second{
    position:absolute !important;
    right: 52px;
    /*top:5px;*/
}

@media screen and (min-width: 768px){
    /* Hide menu button */
    .button[menu-toggle]{
        display: none !important;
    }
    .pull-right-second{
        right: 10px;
    }
    .bar-vodafone .title.right_double{
        margin-right: 48px;
    }
    .right_3space { /* menu button is hidden */
        right: 50px !important;
    }
    .right_2space{
         right: 5px !important; 
    }
}

/* C O N T E N T */

.menu-content ion-content {
    background-color: #eeeeee;
}

.scanderbeg_bg{
    background-image: url('../assets/graphics/bg_scanderbeg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
}

.da_block{  
    float:left;
    position:relative;

    .da_block_inner{
        -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2); 
        border-radius: 2px;
        /*background: white;*/
        background: -webkit-linear-gradient(#ffffff, #f6f7f8);
        background: linear-gradient(#ffffff, #f6f7f8);
        margin:5px;
    }
    .da_block_icon{
        line-height: 100px;
        font-size:65px;
        text-indent: 8%;
    }
    .da_block_title{
        text-transform: uppercase;
        position: absolute;
        bottom:15px;
        word-break: break-word;
        white-space: normal;
        font-size: 16px;

    }

    &.media{ 
        height: auto;
        position:relative !important;
        min-height: 0;
        border: 2px solid #fff;;}

}




.badge_notify{ 
    color: white;
    top: 4px !important;
    left: 47px !important;
    right: auto !important;
    background: $orange;
    color: white;

    -webkit-transform: scale(1);
    transform: scale(1);

    &.badge_anim {
        -webkit-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
        opacity:0.8;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@media only screen and ( min-width: 480px ){
    .da_block{
        .da_block_title{
            font-size: 18px;
        }
    }
}

@media only screen and ( min-width: 680px ){
    .dashboard_container{
        width:auto;  
        margin-left:15px;
        margin-right:15px;
    }

    .da_block{
        padding-bottom: 20%;
        min-height:160px;  
        &>*{ 
            position: absolute !important;
            left: 0;
            right: 0;
            top:0;
            bottom: 0;
        }
        .item{max-height: none !important; min-height: 0 !important; height: 100%;}

        &.media{height: 0; } 
        .da_block_title{
            font-size: 20px;
        }
    }
}
@media only screen and ( min-width: 975px ){
    .da_block.media{ padding-bottom: 15%;}
}



@media screen and (min-width:1100px){

    .da_block{ 
        .da_block_icon{
            font-size: 80px;
        }
    }

}

/* I N F O */
.info-content th{
    color: $red;
    font-weight: bold;
}
.info-content td:first-child{
    color: $red;
    text-align: center;
}

/* Traffic */
.list_large{
    padding-top: 0 !important;
    .icon{
        font-size: 56px;
    }
    > .item{
        line-height: 42px;
        font-size: 18px;
    }
    >.item.item-icon-left{
        padding-left: 95px !important;
    }
    .item ~ .item{
        border-top: 1px solid #ddd;
    }
}

.navigation_disable_map{
    display:none;
}
.navigation_mode .navigation_disable_map{
    display: block;
    position: absolute;
    z-index: 2;
    top:56px;
    left:0;
    right:0;
    bottom:0;
}

.navigation_mode .leaflet-marker-pane img{
    /*    -webkit-transition : transform 1s linear;
        transition : transform 1s linear;    */

    -webkit-animation: mapImgTranz 1.5s infinite !important;
    animation: mapImgTranz 1.5s infinite !important;

}


@-webkit-keyframes mapImgTranz {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mapImgTranz {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}  

.traffic_range{
    background: rgba(255,255,255,0.65) !important;
    top: 61px;
    right: 5px;
    z-index: 3;
}


.traffic_range_label{
    font-weight: bold;
}

.traffic_range_color{
    padding: 0 3px 3px 3px;
}
.traffic_range_number{
    position: relative;top: 3px;
}

.traffic_data_change{
    bottom: 16px;
    right: 16px;
    width: 150px;
    z-index:3;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    .button{
        height:34px;
        margin:0 !important;
        width: 50px;
        border: none !important;
        box-shadow: 0 1px 3px rgba(0,0,0,.15);
        color: black !important;
        background-color: white !important;
    }
    .button:before{
        font-size:28px;
        margin-top: -5px;
    }

}

.button.button_active {
    background-color: #b2b2b2 !important;
    color: white !important;
}

.button-fab-sml{
    height: 50px !important;
    width: 50px !important;
    min-width: 20px;
    min-height: 20px;
}

.button_rlt_locate{
    &:before{
        font-size: 32px !important;
    }
}

.button_rlt_closeup{
    min-width: 0;
    min-height: 0;
    -webkit-transform: translate3d(2px , 34px , 0 ) !important;
    transform: translate3d(2px , 34px , 0 ) !important;
}

.rotate_90{
    transform: rotate(-90deg) !important;
    -webkit-transform: rotate(-90deg) !important;
    transition:  all .3s linear !important;
    -webkit-transition:   all .3s linear !important;   
}

.rotate_80{
    transform: rotate(-80deg) !important; 
    -webkit-transform: rotate(-80deg) !important;
    transition:  all .3s linear !important;
    -webkit-transition:   all .3s linear !important;   
}


.rltwrap{
    position: absolute;
    overflow: hidden;
    width: 56px;
    height: 0;
    bottom: 85px;
    right: 20px;
    display: block;
    z-index: 3 !important;
    transform: translateY(38px);
    transition: all 0.5s;
    visibility: hidden;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .content{
        opacity: 0;
    }

    &:before{
        z-index: 1;
        position: absolute;
        width: 1px;
        height: 1px;
        background: white;
        content: '';
        bottom: 10px;
        left: 50%;
        top: 95%;
        color: #fff;
        border-radius: 50%;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &.active{
        height: 160px;
        width:64px;
        right:16px;
        display: block;
        visibility: visible;
        /*    box-shadow: 2px 3px 16px darken($background, 15%) ;*/
        transition: all 600ms;
        transform: translateY(38px);
        transition: all 0.5s;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;


        &:before{
            height: 2000px;
            width: 2000px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            margin-left: -1000px;
            margin-top: -1000px;
            display: block;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .content{
            position: relative;
            z-index: 1;
            opacity: 1;
            transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        .button_rlt_closeup{
            -webkit-transform: translate3d(2px, -29px , 0 ) !important;
            transform: translate3d(2px, -29px , 0 ) !important;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .button_rlt_closeup.rotate_80{
            -webkit-transform: translate3d(2px, -29px , 0 ) rotate(-80deg) !important;
            transform: translate3d(2px, -29px , 0 ) rotate(-80deg) !important;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

    }

}

.navigation_mode  .map_rotate{
    -webkit-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}

@for $i from -360 through 359 { 
    .navigation_mode .map_rotate.deg_#{$i}{
        -webkit-transform: rotate(#{$i}deg);  
        transform: rotate(#{$i}deg);
    }
}


/* Loader Spinner */ 
.spinner_container{
    position:absolute;
    width:100%;
    z-index: 10;
    padding-top: 10%;
    left: 50%;
    margin-left: -30px;
    /*margin-top: -102px;*/
    ~ *{ visibility: hidden;opacity:0; }
}
/*.map_container{opacity:1;}*/

.spinner svg {
    width: 60px !important;
    height: 60px !important;
    stroke:  #e60000;
    fill: #e60000;
}

.search_spinner{height:42px;padding:5px 0;}
.search_spinner svg{
    width: 30px !important;
    height: 30px !important;
    stroke:  gray;
    fill: gray;
}
.search_spinner + i{
    display: none;
}


/*  CCTV */
.leaflet-popup-cctv .leaflet-popup-content-wrapper{
    border-top: 3px solid $violet;
}
.cctv_popup_close{ 
    width: 38px !important;
    min-width: 38px;
    height: 38px !important;
    min-height: 38px;
    top: -1px !important;
    right: 8px !important;
    bottom: auto !important;
}

.leaflet-popup-content,
.marker_popup_bg{
    width: 352px !important;
}
.marker_popup_bg{
    background: $blue;
}

a.leaflet-popup-close-button {
    visibility: hidden;
}

@media screen and (max-width:359px){
    .leaflet-popup-content,
    .marker_popup_bg{
        width: 300px !important;
    }
}

/* MARKER POPUPS */
.popup-line{
    padding-left: 16px !important;
    margin-bottom:0 !important;
}

.line-label{
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 5px;
}

/*  S E A R C H  */

.search_container{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    overflow: auto;
    right:0;
    z-index: 25;
    bottom:0;
    >*{
        height:100%;
    }
}

.search_showdown{
    height:100%;
    background: white;

    -webkit-transform:  translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
.search_showdown.in{
    -webkit-transform:  translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-animation: fadeInDownSmall 0.4s;
    animation: fadeInDownSmall 0.4s;
}

.search_showdown.out{
    -webkit-animation: fadeOutUpSmall 0.5s;
    animation: fadeOutUpSmall 0.5s;
}

.search_clear{
    position:absolute;
    top:20px;
    right:20px;
    z-index:2;
}

.search_item{
    min-height: 205px * $r !important;
    .avatar{
        width:135px * $r !important;
        height:205px * $r !important;
        top:0 !important;
        left: 0 !important;
    }

}


/*  MAP STYLES */
.map_container{
    position: absolute;
    top: 0 !important;
    left:0;
    right:0;
    bottom:0;
    padding-top:56px !important;
}

.expanded ~ .map_container{  
    padding-top: 86px !important;  
}

.leaflet-bottom{
    z-index: 6;
}
/* IMAGE GALLERY */

/* Empty. Add your own CSS if you like */
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 50%;
    max-height: 75%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider {
    width: 100%;
    height: 100%;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}


.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}



.image-modal:before {
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: #000;  
}
.image-modal{
    .slider-pager-page{
        color: #fecb00;
        opacity: 0.2;
        i{font-size:12px;}
        &.active{
            opacity: 1;
            i{font-size:14px;}
        }

    }

} 

/*  NOTIFICATIONS  */

.item_notification{
    padding-left: 72px;
    background:#fff5f0;
    margin:0;
    border:none;
    border-bottom: 1px solid $red;
}

.notification_list_view{

    .bar{
        box-shadow: none;
        border-bottom: 0;
    }
    .tabs{
        top:56px;
        height:42px;
        line-height: 42px;
    }
    ion-content{
        top:98px !important;
    }

    .tab-item{color:#ccc !important;}
    .tab-item.active{color:#333 !important;}

}

.data-text-before{
    width: 50px;
    >* {
        margin:0 auto;
    }
}
.data-text-before:before{
    font-size: 10px;
    content: attr(data-text);
    position: absolute;
    top:2px;
    white-space: normal;
    width: 100% !important;
    line-height: 11px;
}

/*  SETTINGS  */
.input_time{
    position:absolute;
    bottom:8px;
    right:20px;
    background: transparent;
    border-bottom: 2px solid $lblue !important;
    width: 115px;
} 
.radio_material input{
    width: 1px;
    height: 1px;
    opacity: 0;
}
.radio_material .outer {
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    margin: 10px 9px 10px 10px;
    border: 3px solid #7d7d7d;
    border-radius: 50%;
    background-color: #fff;
}

.radio_material .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: $lblue;
    opacity: 0;
}

.radio_material input:checked + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.radio_material input:checked + .outer {
    border: 3px solid $lblue;
}

.disabled_settings_block{
    display: block;
    position: relative;
    .checkbox_material input:before,
        .input_time{
        border-color: #aaa !important;
    }
}
.disabled_settings_block .item{
    color: #aaa;
}

.disabled_settings_block:before{
    content: " ";
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

/* ANIMATIONS */

%popups_transition{
    transition: .3s all cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: .3s all cubic-bezier(0.19, 1, 0.22, 1);  
}
.right_3space{
    right: 90px;
}
.right_2space{
    right: 40px;
}

.popover_material{
    .item-avatar{min-height: 60px;
                 img{top:10px;}
    }
}

.popover_material,
.popover_material.ng-leave-active{
    top: 40px;
    left: auto !important;
    transform: scale(0) !important;
    -webkit-transform-origin: 95% 0%;
    transform-origin: 95% 0%;
    @extend %popups_transition;
}
.popover_material_bottom,
.popover_material_bottom.ng-leave-active{
    top:auto !important;
    bottom: 90px !important;
    -webkit-transform-origin: 95% 100%;
    transform-origin: 95% 100%;
}
@media screen and (min-width: 680px){
    .popover_inside_modal{
        bottom: 30% !important;
        right:26% !important;
    }
    .modal-tablet-full{
        top: 0;
        left:0;
        right:0;
        bottom:0;
        width: auto;
    }
}  
.popover_material.active{
    transform: scale(1) !important;
}

.leaflet-popup{
    transition: 1.3s opacity cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: 1.3s opacity cubic-bezier(0.19, 1, 0.22, 1);  
}


$lineHeight : 2px;

%lines {
    content: "";
    display: block;
    height: $lineHeight;
    width: 100%;
    background-color: $black;
}

.menu_material {
    width: 24px;
    left:10px;
    min-width: 0 !important;
    height: 36px;
    margin: 0 auto;
    padding-top: 18px;
    cursor: pointer;
    background:transparent;

    span {
        @extend %lines;

        &:before {
            @extend %lines;
            transform: translate(0, -3*$lineHeight);
            -webkit-transform: translate(0, -3*$lineHeight);
        }

        &:after {
            @extend %lines;
            transform: translate(0, 2*$lineHeight);
            -webkit-transform: translate(0, 2*$lineHeight);
        }
    }

    &.open {
        span {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: 0.7s ease-in-out; 
            -webkit-transition: 0.7s ease-in-out; 

            &:before {
                width: 120%;
                transform: rotate(45deg) translate(3px, -7px);
                -webkit-transform: rotate(45deg) translate(3px, -7px);
                transition: 0.7s ease-in-out;
                -webkit-transition: 0.7s ease-in-out;
            }

            &:after {
                width: 120%;
                transform: rotate(-45deg) translate(5px, 5px);
                -webkit-transform: rotate(-45deg) translate(5px, 5px);
                transition: 0.7s ease-in-out;
                -webkit-transition: 0.7s ease-in-out;
            }
        }
    }

    &.close {
        span {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transition: 0.7s ease-in-out;
            -webkit-transition: 0.7s ease-in-out;

            &:before {
                width: 100%;
                transform: rotate(0deg) translate(0, -3*$lineHeight);
                -webkit-transform: rotate(0deg) translate(0, -3*$lineHeight);
                transition: 0.7s ease-in-out;
                -webkit-transition: 0.7s ease-in-out;
            }

            &:after {
                width: 100%;
                transform: rotate(0deg) translate(0, 2*$lineHeight);
                -webkit-transform: rotate(0deg) translate(0, 2*$lineHeight);
                transition: 0.7s ease-in-out;
                -webkit-transition: 0.7s ease-in-out;
            } 
        }
    }
}  

.menu-content:after{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    content: " ";
    right: 0;
    z-index: 10;
    visibility: hidden;
    background-color: transparent;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.menu-open .menu-content:after {
    background-color: rgba(0,0,0,0.4);
    visibility: visible;
}

@-webkit-keyframes fadeInDownSmall {
    0% {
        opacity: 0.6; 
        transform:  translate3d(0,-100%,0);
        -webkit-transform:  translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
}

@keyframes fadeInDownSmall {
    0% {  
        opacity: 0.6;
        -webkit-transform:  translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes fadeOutUpSmall {
    0% {
        opacity: 1;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        opacity: 0.6;
        transform: translate3d(0,-100%,0);
        -webkit-transform: translate3d(0,-100%,0);
    }
}

@keyframes fadeOutUpSmall {
    0% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 0.6;
        transform:  translate3d(0,-100%,0);
    }
}


/* P O I */

.poi_title{
    position: absolute;
    bottom: 0;
    color: white !important;
    z-index: 1;
    font-size: 20px !important;  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.poi_description{

}

/* cards */
.card {
    background-color:#888;  
    &.card-gallery .item-text-wrap{
        background: #fff !important; 
    }
}

.card img {
    -webkit-opacity: 0.75;
    opacity: 0.75;
}



.lazy-load, .lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
}

.lazy-loaded { opacity: 1; }

/* R E P O R T */

.input_file_invisible{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.layer_desc{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    color: white;
}

/* MENU RIGHT */
.custom_menu_right{
    position: absolute;
    width:220px;
    top:56px;
    right:0;
    bottom:90px;
    background: rgba(255,255,255,0.65);
    z-index: 10;
    transform: translate3d(300px,0,0);
    transition: transform 0.3s ease-in-out;
}
.custom_menu_right.open{
    transform: translate3d(0,0,0);
}

/* TO CHECK */
.loading-container .loading{
    background: transparent;
} 
   
/* MENU OVER  **/

.menuhero{
    background-image: url('../assets/graphics/heder_minus.png');
    background-repeat: no-repeat;
    background-size: 295px 136px;
}

@media screen and (max-width: 767px){
    ion-side-menu-content{
        -webkit-transform: translate3d(0px, 0px, 0px) !important;
        transform: translate3d(0px, 0px, 0px)  !important;
    }

    .menu-left {
        z-index:1 !important;
        /*cubic-bezier(.82,.23,.9,.74)*/
        -webkit-transition: transform .3s ease-in;
        transition: transform .3s ease-in;
        -webkit-transform: translate3d(-295px, 0px, 0px);
        transform: translate3d(-295px, 0px, 0px);
    }

    .menu-left.menu-left_open{
        /*cubic-bezier(.26,.82,.76,.99)*/
       -webkit-transition: transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate3d( 0px, 0px, 0px);
        transform: translate3d( 0px, 0px, 0px);
    }

}

/* IONIC POPUP */
.popup-body{
    overflow: auto; 
}
/*  GRID MATERIAL SHOW */  

$ease-out : cubic-bezier(0.25, 0.8, 0.25, 1);
$ease-in  : cubic-bezier(0.55, 0, 0.55, 0.2);

.grid_material {

    >* {
        opacity: 0 !important;  
        position: relative;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);

    }

    &.show {
        >* {
            opacity:1 !important;
            -webkit-transition: opacity .3s ease .35s, -webkit-transform .4s ease-out .35s;
            transition: opacity .5s ease .35s, transform .4s ease-out .35s;

            -webkit-transform: translateX(0);
            transform: translateX(0);

        }
    }

}

.list_vertical_material {
    >* {
        opacity: 0;  
        scale:0;
        position: relative;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    &.show {
        >* {
            opacity:1;
            -webkit-transition: opacity .3s ease .35s, -webkit-transform .4s ease-out .35s;
            transition: opacity .5s ease .35s, transform .4s ease-out .35s;

            -webkit-transform: translateY(0);
            transform: translateY(0);

        }
    }
}

.list_material_lblue{
    margin-bottom:0;
    
}

/* menu color animation */
.menu-left li{
    opacity:1;
    -webkit-transition: opacity .3s ease .35s, -webkit-transform .4s ease-out .35s;
    transition: opacity .3s ease .35s, transform .4s ease-out .35s;

    -webkit-transform: translateX(0);
    transform: translateX(0);
}


.menu_left_anim li{
    opacity: 0.1;  
    position: relative;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
}

.bg_animation{
    background-position:right top;
    -webkit-transition: background 0.3s ease-out !important; 
    transition: background 0.3s ease-out !important; 
}
[ripple-effect]{overflow:hidden;}
.ripple { display: block; position: absolute; border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); }

.ripple,
.ripple{
    background: rgba(0,0,0,.2);  
}
.ripple_gray .ripple,
.ripple.ripple_gray{
    background: rgba(0,0,0,.4);  
}
[ripple-effect].item.activated,[ripple-effect] .item.activated{
    background-color: transparent;
}

/*animation effect*/
.ripple_white .ripple.animate_ripple { -webkit-animation: ripple 0.65s linear; animation: ripple 0.65s linear; }

.ripple_gray .ripple.animate_ripple { -webkit-animation: ripple 0.3s linear; animation: ripple 0.3s linear; }

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2, 2); transform: scale(2, 2);}
}
@keyframes ripple { 
    100% {opacity: 0; -webkit-transform: scale(2, 2); transform: scale(2, 2);}
}

/**/
/**/
.content_material {
  overflow: hidden;
  .details-view{visibility: hidden;}
  &.details {
    .list-view {
      background: transparent;
      transition: background 0.5s;
      pointer-events: none;
      li {
        transition: transform 0.3s, opacity 0.2s;
     
        &:not(.active) {
          opacity: 0;
        }
        &.active {
          height: 200px;
          transform: translate3d(0, 0, 0) !important;  
          border-color: rgba(255,255,255,0);
          transition: transform 0.3s, opacity 0.2s, border-color 0.2s;
          
          .white-layer-ondetails{
            background: rgba(255,255,255,0.6);
          } 
          &:hover {
            background: none;
          }
         .item-report-inner{
            white-space: normal;
          } 
        }
      }
    }
    
    .item-report-inner{
        position: absolute;
        top: 16px;
        bottom: 16px;
        right: 16px;
        left: 16px;
        width: auto;
    }
    
    .item-report-main-label{
        position: absolute;
        bottom: 0;
    }
    .item-report-secondary-label,
    .item-report-info-label{
        text-align: right;
         position: static !important;
        padding-right: 0 !important;
    }

    .item-report-content{
        height: auto !important;
        line-height: normal !important;
        padding: 12px 5px !important;
    }
        
    .details-view {
        visibility: visible;
      .back {
        transform: scale(1);
      }
      .background {
        transform: translate3d(0,0,0);
        transition: transform 0.25s 0.05s;
      }
      li {
        @for $i from 1 through 8{
          &:nth-child(#{$i}) {
            transform: translate3d(0,0,0);
          } 
        }
      }
    }
  }
  
  .list-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,1);
    z-index: 1;
    transition: background 0.3s 0.1s;


    ul {
      li {
        position: absolute;
        left: 0;
        right: 0;
/*        height: 70px;
        line-height: 38px;*/
        padding: 16px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #ddd;
        transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s;

        &:hover {
          background: #efefef;
        }
        .avatar {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: url('http://1.viki.io/a/ph/avatar_profile-acc6c5a5a9d35bd7d292dfd776cfec76.png?s=30x30&f=t&cb=1');
          background-size: 100%;
          margin: 10px 15px;
        }
      }
    }
  }

  .details-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: #fff;
    
    .background {
      position: absolute;
      top: 0;
      height: 200px;
      width: 100%;
      background: $blue;
      transition: transform 0.25s;
    }
    
    .back {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 5px;
      border: 0;
      transform: scale(0.1);
      transition: transform 0.15s;
      z-index: 1;
      >*{
          width: 30px;
          height: 30px;
          background: url(../assets/graphics/back-alt-128.png);
            background-size: 100%;
      }
    }
    ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 170px;
    }
    li {
      i {
        font-size: 1.2rem;
        margin: 0 15px;
      }
      height: 70px;
      line-height: 70px;
      border-bottom: 1px solid #ddd;
      
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          transform: translate3d(0, (($i * 5px) + 25px) , 0) !important;
	        transition: transform 0.3s (($i - 1) * 0.02s) !important;
        }
      }
    }
  }
}