<p class="txt_center">Kushte dhe Afate për Aplikacionin </p>

<p class="txt_center">“Vodafone Tirana Ime App”</p>

<p>1. <b>Vodafone Tirana Ime App (“Aplikacioni”)</b> eshte nje Aplikacion i krijuar dhe ne pronesi te Vodafone Albania Sh.A me seli ne Autostrada Tirane-Durres, Rr. “Pavaresia”, No.61, Kashar, Tirane Shqiperi. Ju lutemi të lexoni me kujdes Kushtet dhe Afatet e Aplikacionit “<b>Vodafone Tirana Ime App</b>”. Nëse do të përdorni Aplikacionin, atëherë supozohet se ju keni lexuar këto Kushte dhe Afate dhe keni rënë dakord me to paraprakisht. </p>

<p>2. Aplikacioni eshte zhvilluar nga ana teknike nga Vodafone Albania Sh.A duke perfshire informacionin e vendosur ne dispozicion nga ana e Bashkisw sw Tiranws per sherbimin Tirana Ime ne linkun <a ng-click="openUrl('http://infomobility.tirana.gov.al/web/ism_tirana/home')" href="#">http://infomobility.tirana.gov.al/web/ism_tirana/home</a></p>

<p>3. Vodafone Albanai Sh.A ju jep të drejta jo-ekskluzive për të përdorur Aplikacionin. Ju nuk mund të kopjoni, ndryshoni, ndani në pjesë ose zbërtheni Apklikacionin apo pjesët e tij. Ju nuk mund të transferoni, të kaloni, të jepni me nën-liçense apo të shpërndani ose t’i lejoni një pale të tretë të përdorë Përmbajtjen e Aplikacionit ose një pjesë të tij. Ju pranoni të mos përdorni Aplikacionin apo një pjesë të tij në kundërshtim me kuadrin ligjor ne Republikwn e Shqiperise jepAnuk mban asnje lloj pwrgjegjesi pwr infromacionin e pwrfshirw nw Aplikacion nga ana e dhe rregulloret e zbatueshme. </p>

<p>4. Aplikacioni përmban informacion të vlefshëm për t’u përdorur vetëm në qytetin e Tiranës. </p>

<p>5. Për të përdorur Aplikacionin Ju duhet fillimisht duhet t’a shkarkoni ate dhe të lexoni e të pranoni Kushtet dhe Afatet .</p>

<p>6. Aplikacioni mund te shkarkohet pa pagesë ne Play Store dhe App Store nga të gjithë përdoruesit e shërbimeve telefonike të lëvizshme, në territorin e Republikës së Shqipërisë Për të shkarkuar Aplikacionin është e nevojshme lidhja me internet. </p>

<p>7. Navigimi në Aplikacion do t’iu kushtojë përdoruesve tarifën normale të navigimit në internet sipas planit tarifor të përzgjedhur dhe operatorit përkatës që ofron shërbimet publike të komunikimeve elektronike të lëvizshme. Ju lutem sigurohuni për tarifat e zbatuara përpara përdorimit te Aplikacionit. </p>

<p>8. Aplikacioni “<b>Vodafone Tirana Ime App</b>” ofron informacion mbi trafikun në kohë reale, CCTV, pikat e interesit, statistika. Më poshtë jepet një përshkrim i secilës prej rubrikave të mësipërme:</p>

<p>· Informacion mbi trafikun në kohë reale – ky funksionalitet do të ofrojë informacion në kohë reale mbi situatën e trafikut në Tiranë. Ky informacion do të ofrohet i shoqëruar me një pamje harte duke lehtësuar për përdoruesin zgjedhjen e intinerarit më të favorshëm, që shmang trafikun. Informacioni i disponueshëm përfshin: fluksin e trafikut dhe shpejtësinë mesatare të lëvizjes së trafikut. </p>

<p>· CCTV – ky funksionalitet do të ofrojë mundësinë të vizualizohen, në kohë reale imazhe të situatës së trafikut. Përdoruesi mund të zgjedhë nga harta një nga kamerat, që dëshiron në një nga kryqëzimet e qytetit të Tiranës dhe të klikojë mbi të për të vizualizuar imazhe në kohë reale. </p>

<p>· Pikat e interesit – ky funksionalitet do të ofrojë mundësinë të shfaqë një listë të vendeve interesante për t’u vizituar në Tiranë. Ky informacion gjithashtu do të ofrohet në një ndërfaqe të shoqëruar me hartë.</p>

<p>· Statistika – ky funksionalitet do të ofrojë informacione të rëndësishme statistikore të ofruara nga Bashkia e Tiranës ne lidhje me trafikun ne qytetin e Tiranes.</p>

<p>· Funksionalitete të tjera që përdoruesi mund të përdorë janë: të informohet në rastin kur trafiku në një rrugë është e ngarkuar, të informohet kur një rrugë është e bllokuar gjatë një periudhe kohe të caktuar, të ketë mundësinë të aktivizojë ose ç’aktivizojë funksionalitetin e njoftimeve.</p>

<p>9. Vodafone Albania Sh.A nuk mban asnje lloj përgjegjesi për infromacionin e përfshirë në Aplikacion nga ana e Bashkisë se Tiranë e cila është përgjegjëse e plotë për informacionin që vihet në dispozicion të Aplikacionit.. </p>

<p>10. Ju nuk përfitoni të drejta të Pronësisë Intelektuale ose të drejta të tjera të lidhura me të, përfshirë patenta, dizenjo, marka tregtare, të drejta të autorit në lidhje me përmbajtjen e Aplikacionit te cilat mbeten eksluzovisht pronë e Vodafone Albania SH.A.</p>

<p>11. Për aq sa lejohet nga ligji i zbatueshëm, Aplikacioni ju ofrohet "siç është" pa asnjë garanci apo kushte të tjera në lidhje me Informacionin e Bashkisë Tiranë. Për aq sa lejohet nga ligji, Vodafone Albania dhe Bashkia e Tiranës, nuk jane përgjegjës për ndonjë dëm qe mund t’ju shkatohet juve nga përdorimi i Aplikacionit .</p>

<p>12. Vodafone dhe Bashkia Tiranë nuk do t’ju detyrohemi për rimbursim, kompensim apo për dëmet për shkak të humbjes së fitimit aktual apo të ardhshëm, humbjen e të ardhurave, xhiron e shitjeve; humbjen e emrit të mirë, humbjen ose dëmtimin e reputacionit, humbjen e kontratave ose klientëve, humbjen e kursimeve te parashikuara, humbjen ose dëmtimin e të dhënave apo programeve apo për arsye të tjera çfarëdo qofshin ose indirekte, të veçanta, të rastësishme ose të rëndësishme, qoftë të shkaktuara padrejtësisht (përfshi nga neglizhenca) qoftë për shkak të Aplikacionit, madje edhe në qoftë se Vodafone apo Bashjkia Tiranë kanë qenë të informuar për mundësinë e humbjeve apo dëmtimeve të tilla. </p>

<p>13. Vodafone Albania rezervon të drejtën të ndryshojë këto Kushte dhe Afate në çdo kohë. Vodafone Albania gjithashtu mund të krijojë rregulla të reja, të cilat mund të zbatohen gjatë perdorimit të aplikimit, ose ta anullojë atë për arsye madhore.</p>

<p>14. Nëse Vodafone Albania do të nxjerrë rregulla të reja, apo për çdo arsye do të anullojë këtë aplikim, të gjithë pjesëmarrësit do të informohen paraprakisht nëpërmjet faqes zyrtare në Facebook <a ng-click="openUrl('http://www.facebook.com/VodafoneAL')" href="#">www.facebook.com/VodafoneAL</a>. </p>

<p>15. Për çdo informacion apo pyetje rreth këtijj aplikimi mund të na shkruani në faqen zyrtare në Facebook, <a ng-click="openUrl('http://www.facebook.com/VodafoneAL')" href="#" >www.facebook.com/VodafoneAL</a></p>

<p>16. Për këto Kushte dhe Afate të për përdorimin e Aplikacionit do të zbatohet ligji Shqiptar. Palët i nënshtrohen juridiksionit ekskluziv të gjykatave Shqiptare. </p>
