body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', helvetica, sans-serif;
    background: #222;
    color: #fff;
    font-size: 40pt;
    line-height: 1.5;
    padding: 2%;
    height: 91vh;
    background-image: url("t.gif");
    background-size: 193vh;
}
.type-text {
    color:white;
}

.teletype-prefix {
    color: #00bd9c;
}