<div ng-controller="DashboardCtrl" class="animated fadeIn">
    <!--<div class="dash-title"><span class="label label-default">{{selectedUrl.title}}</span></div>-->
    <!--<div>
        <i class="fa fa-home back-ico"></i>
    </div>-->
    <div class="col-md-5">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Graphic 1</span>
                </md-card-title-text>
            </md-card-title>
            <canvas id="radar" class="chart chart-radar"
                    chart-data="data" chart-options="options" chart-labels="labels">
            </canvas>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Graphic 2</span>
                </md-card-title-text>
            </md-card-title>
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="data1" chart-labels="labels1">
            </canvas>
        </md-card>
    </div>
    <div class="col-md-11">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Graphic 2</span>
                </md-card-title-text>
            </md-card-title>
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels1" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </md-card>
        </div>
</div>