<ion-view class="ionic"  cache-view="false" on-swipe-right="onSwipeRight()"  on-swipe-left="onSwipeLeft()">
    <div style="background:{{routeColor}};height:5px;"></div>
    <div class="bar bar-header bar-vodafone">
        <button class="button button-icon icon flat pull-left">
           <i class="view_icon font_36 ion-android-bus" style="color: {{routeColor}};"></i>
        </button>
        <h1 class="title fab-left inside_right_single right_80">
            {{labelz.label_info_adm}}
        </h1>
       <button class="button button-icon icon flat pull-right-second" menu-toggle="left" ng-click="toggleMenu('open')">
            <div class="menu menu_material {{classs}}">
                <span></span>
            </div>
        </button>
         <button class="button button-icon icon ion-home flat " ui-sref="main.dashboard"></button>
    </div>
  
    <div ng-if="showFullSpinner" class="has-header spinner_container">
        <ion-spinner icon="lines" class="spinner-dark"></ion-spinner>
    </div>

     <div class="content map_container" data-tap-disabled="true">
        <div ng-if="activeLine" class="bg white font_16 card" style="position: absolute;top: 61px;right: 5px;z-index: 10;max-width:300px;" ng-click="lineSelected()">
               <div class="item item-icon-right" style="white-space: normal;">
                   <span class="line-label" style="color:{{activeLine.properties.fill}}"> {{activeLine.properties.njesia}}</span>
                    <i class="icon ion-close font_22"></i>
               </div>
         </div>
         
        <div id="mapAdministration" leaflet-map map-default-zoom="10" style="height:100%;width:100%;"> </div>
        
        <button class="button button-fab button-fab-sml bg lblue font_26 ion-android-locate button-fab-bottom-left" ng-click="setView();"></button>
        <button class="button button-fab button_rlt_locate button-fab-bottom-right icon ion-android-more-vertical waves-effect waves-light color red"
                   ng-click="openPopoverAdministration($event)"> </button>
     </div>
       
</ion-view>